//globals

body {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.7;
    color: $black;
    position: relative;

    @include media-breakpoint-down(xs) {
        font-size: 15px;
        line-height: 1.8;
    }
}

a,
a:visited {
    color: $black;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        color: $black;
    }
}

.pageHeading {
    font-family: $displayFont;
    font-size: 34px;
    margin: 0 0 1em 0;
    line-height: 1.2;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 30px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 26px;
    }
}

.hr--primary {
    height: 7px;
    background: $primary-color;
}

/* Underline From Center */
.linkOverline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        top: 0;
        background: $tertiary-color;
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:hover:before,
    &:active:before {
        left: 0;
        right: 0;
    }
}

.instagramLink {
    display: inline-block;
    height: 30px;
    border-radius: 11px;
    text-decoration: none;
    background: #f1f1f1;
    padding-right: 5px;
    padding-top: 2px;

    span {
        font-size: 14px;
        padding: 0 10px;
        position: relative;
        top: -3px;
    }

    img {
        position: relative;
        top: -3px;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background: $primary-color;
        color: #fff;
    }

}
