$white: #fff;
$displayFont: 'Special Elite', cursive;
$defaultFont: 'Merriweather', serif;

$offwhite: #FFFFF6;
$black: #2C2C2C;
$gray: #ccc;
$light-gray: #f1f1f1;
$dark-gray: #4F4F4F;
$orange: #F1B870;
$teal: #2693BB;
$red: #b23304;
$green: #26bb85;

$primary-color: $orange;
$secondary-color: $teal;
$tertiary-color: $red;

$primary-color-darker: darken( $primary-color, 30% );
$secondary-color-darker: darken( $secondary-color, 15% );
$tertiary-color-darker: darken( $tertiary-color, 30% );
